x-env-defaults: &env_defaults
  env_file:
    - .env
  environment:
    # принудительно передаём даже пустые ключи (потом разобраться с этим)
    SERVER_NAME: ${SERVER_NAME}
    LISTEN_ADDR: ${LISTEN_ADDR}
    PUBLIC_ADDR: ${PUBLIC_ADDR}
    OWNER_USERNAME: ${OWNER_USERNAME}
    BOT_TOKEN: ${BOT_TOKEN}
    NETWORK_ID: ${NETWORK_ID}
    NETWORK_SECRET: ${NETWORK_SECRET}
    SEED_PEERS: ${SEED_PEERS}
    JOIN_URL: ${JOIN_URL}
    VPN_MODE: ${VPN_MODE:-none}
    VPN_INTERFACE_NAME: ${VPN_INTERFACE_NAME:-wg0}
    VPN_CIDR: ${VPN_CIDR:-10.42.0.0/24}
    VPN_LISTEN_PORT: ${VPN_LISTEN_PORT:-}
    VPN_HUB_ENDPOINT: ${VPN_HUB_ENDPOINT:-}

services:
  constella:
    <<: *env_defaults
    build: .
    container_name: constella-node
    restart: always
    volumes:
      - ./state:/app/state
      - /usr/bin/nsenter:/usr/bin/nsenter:ro
    ports:
      - "4747:4747"

    privileged: true        # разрешаем контейнеру доступ к системным вызовам
    pid: "host"             # делим PID-пространство с хостом (позволяет reboot/shutdown)
